.cardWrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5rem 10rem;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 0.8rem;
    color: rgb(240, 240, 240);
    margin-right: 20rem;
}

.cardWrap:hover {
    backdrop-filter: brightness(90%);
}