@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 5% auto;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas: "header header header" "left center right";
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Roboto Mono";
}

.header {
  grid-area: header;
}

.center {
  grid-area: center;
  display: flex;
}

.right {
  grid-area: right;
}
