.App {
    height: 100vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 0.5rem;
}